@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.GreyBar {
  background-color: #2a383c;
  height: 33px;
  width: 100%;
  margin: 0 auto;
}

.green-bar {
  background: linear-gradient(180deg, #4b874a, rgba(0, 255, 0, 0));
  height: 99px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaf {
  width: 50%;
  height: auto;
}

.profile {
  width: 50%;
  height: auto;
}

.search-container {
  position: relative;
  width: 761px;
  height: 59px;
  margin: 0 auto;
}

.search-bar {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px 40px 8px 30px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.search-bar::placeholder {
  font-size: 20px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}

.logo-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo-left,
.logo-right {
  margin: 10px;
}

.button-row {
  display: flex;
  align-items: center;
}

.button {
  height: 50px;
  width: 229px;
  background-color: #f3f3f3;
  border: none;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1),
    0 -4px 4px -2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.button-left,
.button-right {
  height: 50px;
  width: 229px;
  background-color: #f3f3f3;
  border: none;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-left {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1),
    0 -4px 4px -2px rgba(0, 0, 0, 0.1), -4px 0 4px -2px rgba(0, 0, 0, 0.1);
}

.button-right {
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.1),
    0 -4px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.button1 {
  height: 50px;
  width: 229px;
  background-color: #f3f3f3;
  border: none;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
  width: 229px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button:hover,
.location-button:hover,
.redo-search-button:hover,
.button-left:hover,
.button-right:hover {
  background-color: #c0c0c0;
}

.spacer1 {
  width: 20px;
}

.spacer2 {
  width: 280px; /* Spacer between buttons */
}

.spacer3 {
  width: 50px;
}

.button,
.button-left,
.button-right,
.button1 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 620; /* Bold */
}
